<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.expedicion.dao.Tps017RetenedorMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.expedicion.modelo.Tps017Retenedor" >
    <id column="id_retenedor" property="idRetenedor" jdbcType="INTEGER" />
    <result column="rfc" property="rfc" jdbcType="CHAR" />
    <result column="razon_social" property="razonSocial" jdbcType="CHAR" />
    <result column="nom_representante" property="nomRepresentante" jdbcType="CHAR" />
    <result column="cve_unica" property="cveUnica" jdbcType="CHAR" />
    <result column="anio_ini" property="anioIni" jdbcType="INTEGER" />
    <result column="anio_fin" property="anioFin" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="mx.sep.expedicion.modelo.Tps017Retenedor" extends="BaseResultMap" >
    <result column="firma_digital" property="firmaDigital" jdbcType="LONGVARBINARY" />
    <result column="sello_retenedor" property="selloRetenedor" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id_retenedor, rfc, razon_social, nom_representante, cve_unica, anio_ini, anio_fin
  </sql>
  <sql id="Blob_Column_List" >
    firma_digital, sello_retenedor
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="mx.sep.expedicion.modelo.Tps017RetenedorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tps017_retenedor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.expedicion.modelo.Tps017RetenedorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tps017_retenedor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tps017_retenedor
    where id_retenedor = #{idRetenedor,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tps017_retenedor
    where id_retenedor = #{idRetenedor,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.expedicion.modelo.Tps017RetenedorExample" >
    delete from tps017_retenedor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.expedicion.modelo.Tps017Retenedor" >
    insert into tps017_retenedor (id_retenedor, rfc, razon_social, 
      nom_representante, cve_unica, anio_ini, 
      anio_fin, firma_digital, sello_retenedor
      )
    values (#{idRetenedor,jdbcType=INTEGER}, #{rfc,jdbcType=CHAR}, #{razonSocial,jdbcType=CHAR}, 
      #{nomRepresentante,jdbcType=CHAR}, #{cveUnica,jdbcType=CHAR}, #{anioIni,jdbcType=INTEGER}, 
      #{anioFin,jdbcType=INTEGER}, #{firmaDigital,jdbcType=LONGVARBINARY}, #{selloRetenedor,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.expedicion.modelo.Tps017Retenedor" >
    insert into tps017_retenedor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idRetenedor != null" >
        id_retenedor,
      </if>
      <if test="rfc != null" >
        rfc,
      </if>
      <if test="razonSocial != null" >
        razon_social,
      </if>
      <if test="nomRepresentante != null" >
        nom_representante,
      </if>
      <if test="cveUnica != null" >
        cve_unica,
      </if>
      <if test="anioIni != null" >
        anio_ini,
      </if>
      <if test="anioFin != null" >
        anio_fin,
      </if>
      <if test="firmaDigital != null" >
        firma_digital,
      </if>
      <if test="selloRetenedor != null" >
        sello_retenedor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idRetenedor != null" >
        #{idRetenedor,jdbcType=INTEGER},
      </if>
      <if test="rfc != null" >
        #{rfc,jdbcType=CHAR},
      </if>
      <if test="razonSocial != null" >
        #{razonSocial,jdbcType=CHAR},
      </if>
      <if test="nomRepresentante != null" >
        #{nomRepresentante,jdbcType=CHAR},
      </if>
      <if test="cveUnica != null" >
        #{cveUnica,jdbcType=CHAR},
      </if>
      <if test="anioIni != null" >
        #{anioIni,jdbcType=INTEGER},
      </if>
      <if test="anioFin != null" >
        #{anioFin,jdbcType=INTEGER},
      </if>
      <if test="firmaDigital != null" >
        #{firmaDigital,jdbcType=LONGVARBINARY},
      </if>
      <if test="selloRetenedor != null" >
        #{selloRetenedor,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.expedicion.modelo.Tps017RetenedorExample" resultType="java.lang.Integer" >
    select count(*) from tps017_retenedor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tps017_retenedor
    <set >
      <if test="record.idRetenedor != null" >
        id_retenedor = #{record.idRetenedor,jdbcType=INTEGER},
      </if>
      <if test="record.rfc != null" >
        rfc = #{record.rfc,jdbcType=CHAR},
      </if>
      <if test="record.razonSocial != null" >
        razon_social = #{record.razonSocial,jdbcType=CHAR},
      </if>
      <if test="record.nomRepresentante != null" >
        nom_representante = #{record.nomRepresentante,jdbcType=CHAR},
      </if>
      <if test="record.cveUnica != null" >
        cve_unica = #{record.cveUnica,jdbcType=CHAR},
      </if>
      <if test="record.anioIni != null" >
        anio_ini = #{record.anioIni,jdbcType=INTEGER},
      </if>
      <if test="record.anioFin != null" >
        anio_fin = #{record.anioFin,jdbcType=INTEGER},
      </if>
      <if test="record.firmaDigital != null" >
        firma_digital = #{record.firmaDigital,jdbcType=LONGVARBINARY},
      </if>
      <if test="record.selloRetenedor != null" >
        sello_retenedor = #{record.selloRetenedor,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tps017_retenedor
    set id_retenedor = #{record.idRetenedor,jdbcType=INTEGER},
      rfc = #{record.rfc,jdbcType=CHAR},
      razon_social = #{record.razonSocial,jdbcType=CHAR},
      nom_representante = #{record.nomRepresentante,jdbcType=CHAR},
      cve_unica = #{record.cveUnica,jdbcType=CHAR},
      anio_ini = #{record.anioIni,jdbcType=INTEGER},
      anio_fin = #{record.anioFin,jdbcType=INTEGER},
      firma_digital = #{record.firmaDigital,jdbcType=LONGVARBINARY},
      sello_retenedor = #{record.selloRetenedor,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tps017_retenedor
    set id_retenedor = #{record.idRetenedor,jdbcType=INTEGER},
      rfc = #{record.rfc,jdbcType=CHAR},
      razon_social = #{record.razonSocial,jdbcType=CHAR},
      nom_representante = #{record.nomRepresentante,jdbcType=CHAR},
      cve_unica = #{record.cveUnica,jdbcType=CHAR},
      anio_ini = #{record.anioIni,jdbcType=INTEGER},
      anio_fin = #{record.anioFin,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mx.sep.expedicion.modelo.Tps017Retenedor" >
    update tps017_retenedor
    <set >
      <if test="rfc != null" >
        rfc = #{rfc,jdbcType=CHAR},
      </if>
      <if test="razonSocial != null" >
        razon_social = #{razonSocial,jdbcType=CHAR},
      </if>
      <if test="nomRepresentante != null" >
        nom_representante = #{nomRepresentante,jdbcType=CHAR},
      </if>
      <if test="cveUnica != null" >
        cve_unica = #{cveUnica,jdbcType=CHAR},
      </if>
      <if test="anioIni != null" >
        anio_ini = #{anioIni,jdbcType=INTEGER},
      </if>
      <if test="anioFin != null" >
        anio_fin = #{anioFin,jdbcType=INTEGER},
      </if>
      <if test="firmaDigital != null" >
        firma_digital = #{firmaDigital,jdbcType=LONGVARBINARY},
      </if>
      <if test="selloRetenedor != null" >
        sello_retenedor = #{selloRetenedor,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id_retenedor = #{idRetenedor,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="mx.sep.expedicion.modelo.Tps017Retenedor" >
    update tps017_retenedor
    set rfc = #{rfc,jdbcType=CHAR},
      razon_social = #{razonSocial,jdbcType=CHAR},
      nom_representante = #{nomRepresentante,jdbcType=CHAR},
      cve_unica = #{cveUnica,jdbcType=CHAR},
      anio_ini = #{anioIni,jdbcType=INTEGER},
      anio_fin = #{anioFin,jdbcType=INTEGER},
      firma_digital = #{firmaDigital,jdbcType=LONGVARBINARY},
      sello_retenedor = #{selloRetenedor,jdbcType=LONGVARBINARY}
    where id_retenedor = #{idRetenedor,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.sep.expedicion.modelo.Tps017Retenedor" >
    update tps017_retenedor
    set rfc = #{rfc,jdbcType=CHAR},
      razon_social = #{razonSocial,jdbcType=CHAR},
      nom_representante = #{nomRepresentante,jdbcType=CHAR},
      cve_unica = #{cveUnica,jdbcType=CHAR},
      anio_ini = #{anioIni,jdbcType=INTEGER},
      anio_fin = #{anioFin,jdbcType=INTEGER}
    where id_retenedor = #{idRetenedor,jdbcType=INTEGER}
  </update>
</mapper>