<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.expedicion.dao.Tps022AnualSdoMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.expedicion.modelo.Tps022AnualSdo" >
    <id column="anio" property="anio" jdbcType="SMALLINT" />
    <id column="rfc" property="rfc" jdbcType="CHAR" />
    <result column="tot_imp" property="totImp" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    anio, rfc, tot_imp
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.expedicion.modelo.Tps022AnualSdoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tps022_anual_sdo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from tps022_anual_sdo
    where anio = #{anio,jdbcType=SMALLINT}
      and rfc = #{rfc,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from tps022_anual_sdo
    where anio = #{anio,jdbcType=SMALLINT}
      and rfc = #{rfc,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.expedicion.modelo.Tps022AnualSdoExample" >
    delete from tps022_anual_sdo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.expedicion.modelo.Tps022AnualSdo" >
    insert into tps022_anual_sdo (anio, rfc, tot_imp
      )
    values (#{anio,jdbcType=SMALLINT}, #{rfc,jdbcType=CHAR}, #{totImp,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.expedicion.modelo.Tps022AnualSdo" >
    insert into tps022_anual_sdo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="anio != null" >
        anio,
      </if>
      <if test="rfc != null" >
        rfc,
      </if>
      <if test="totImp != null" >
        tot_imp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="anio != null" >
        #{anio,jdbcType=SMALLINT},
      </if>
      <if test="rfc != null" >
        #{rfc,jdbcType=CHAR},
      </if>
      <if test="totImp != null" >
        #{totImp,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.expedicion.modelo.Tps022AnualSdoExample" resultType="java.lang.Integer" >
    select count(*) from tps022_anual_sdo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tps022_anual_sdo
    <set >
      <if test="record.anio != null" >
        anio = #{record.anio,jdbcType=SMALLINT},
      </if>
      <if test="record.rfc != null" >
        rfc = #{record.rfc,jdbcType=CHAR},
      </if>
      <if test="record.totImp != null" >
        tot_imp = #{record.totImp,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tps022_anual_sdo
    set anio = #{record.anio,jdbcType=SMALLINT},
      rfc = #{record.rfc,jdbcType=CHAR},
      tot_imp = #{record.totImp,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mx.sep.expedicion.modelo.Tps022AnualSdo" >
    update tps022_anual_sdo
    <set >
      <if test="totImp != null" >
        tot_imp = #{totImp,jdbcType=DECIMAL},
      </if>
    </set>
    where anio = #{anio,jdbcType=SMALLINT}
      and rfc = #{rfc,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.sep.expedicion.modelo.Tps022AnualSdo" >
    update tps022_anual_sdo
    set tot_imp = #{totImp,jdbcType=DECIMAL}
    where anio = #{anio,jdbcType=SMALLINT}
      and rfc = #{rfc,jdbcType=CHAR}
  </update>
</mapper>