<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.expedicion.dao.Tps016DetalleIsrMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.expedicion.modelo.Tps016DetalleIsr" >
    <id column="id_constancia" property="idConstancia" jdbcType="INTEGER" />
    <id column="clave" property="clave" jdbcType="SMALLINT" />
    <result column="imp_total" property="impTotal" jdbcType="INTEGER" />
    <result column="imp_exento" property="impExento" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id_constancia, clave, imp_total, imp_exento
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.expedicion.modelo.Tps016DetalleIsrExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tps016_detalle_isr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from tps016_detalle_isr
    where id_constancia = #{idConstancia,jdbcType=INTEGER}
      and clave = #{clave,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from tps016_detalle_isr
    where id_constancia = #{idConstancia,jdbcType=INTEGER}
      and clave = #{clave,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.expedicion.modelo.Tps016DetalleIsrExample" >
    delete from tps016_detalle_isr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.expedicion.modelo.Tps016DetalleIsr" >
    insert into tps016_detalle_isr (id_constancia, clave, imp_total, 
      imp_exento)
    values (#{idConstancia,jdbcType=INTEGER}, #{clave,jdbcType=SMALLINT}, #{impTotal,jdbcType=INTEGER}, 
      #{impExento,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.expedicion.modelo.Tps016DetalleIsr" >
    insert into tps016_detalle_isr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idConstancia != null" >
        id_constancia,
      </if>
      <if test="clave != null" >
        clave,
      </if>
      <if test="impTotal != null" >
        imp_total,
      </if>
      <if test="impExento != null" >
        imp_exento,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idConstancia != null" >
        #{idConstancia,jdbcType=INTEGER},
      </if>
      <if test="clave != null" >
        #{clave,jdbcType=SMALLINT},
      </if>
      <if test="impTotal != null" >
        #{impTotal,jdbcType=INTEGER},
      </if>
      <if test="impExento != null" >
        #{impExento,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.expedicion.modelo.Tps016DetalleIsrExample" resultType="java.lang.Integer" >
    select count(*) from tps016_detalle_isr
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tps016_detalle_isr
    <set >
      <if test="record.idConstancia != null" >
        id_constancia = #{record.idConstancia,jdbcType=INTEGER},
      </if>
      <if test="record.clave != null" >
        clave = #{record.clave,jdbcType=SMALLINT},
      </if>
      <if test="record.impTotal != null" >
        imp_total = #{record.impTotal,jdbcType=INTEGER},
      </if>
      <if test="record.impExento != null" >
        imp_exento = #{record.impExento,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tps016_detalle_isr
    set id_constancia = #{record.idConstancia,jdbcType=INTEGER},
      clave = #{record.clave,jdbcType=SMALLINT},
      imp_total = #{record.impTotal,jdbcType=INTEGER},
      imp_exento = #{record.impExento,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mx.sep.expedicion.modelo.Tps016DetalleIsr" >
    update tps016_detalle_isr
    <set >
      <if test="impTotal != null" >
        imp_total = #{impTotal,jdbcType=INTEGER},
      </if>
      <if test="impExento != null" >
        imp_exento = #{impExento,jdbcType=INTEGER},
      </if>
    </set>
    where id_constancia = #{idConstancia,jdbcType=INTEGER}
      and clave = #{clave,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.sep.expedicion.modelo.Tps016DetalleIsr" >
    update tps016_detalle_isr
    set imp_total = #{impTotal,jdbcType=INTEGER},
      imp_exento = #{impExento,jdbcType=INTEGER}
    where id_constancia = #{idConstancia,jdbcType=INTEGER}
      and clave = #{clave,jdbcType=SMALLINT}
  </update>
</mapper>