<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.expedicion.dao.Tps023DocNivelMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.expedicion.modelo.Tps023DocNivel" >
    <id column="id_doc" property="idDoc" jdbcType="INTEGER" />
    <id column="niv_academico" property="nivAcademico" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id_doc, niv_academico
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.expedicion.modelo.Tps023DocNivelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tps023_doc_nivel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from tps023_doc_nivel
    where id_doc = #{idDoc,jdbcType=INTEGER}
      and niv_academico = #{nivAcademico,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.expedicion.modelo.Tps023DocNivelExample" >
    delete from tps023_doc_nivel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.expedicion.modelo.Tps023DocNivel" >
    insert into tps023_doc_nivel (id_doc, niv_academico)
    values (#{idDoc,jdbcType=INTEGER}, #{nivAcademico,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.expedicion.modelo.Tps023DocNivel" >
    insert into tps023_doc_nivel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idDoc != null" >
        id_doc,
      </if>
      <if test="nivAcademico != null" >
        niv_academico,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idDoc != null" >
        #{idDoc,jdbcType=INTEGER},
      </if>
      <if test="nivAcademico != null" >
        #{nivAcademico,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.expedicion.modelo.Tps023DocNivelExample" resultType="java.lang.Integer" >
    select count(*) from tps023_doc_nivel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tps023_doc_nivel
    <set >
      <if test="record.idDoc != null" >
        id_doc = #{record.idDoc,jdbcType=INTEGER},
      </if>
      <if test="record.nivAcademico != null" >
        niv_academico = #{record.nivAcademico,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tps023_doc_nivel
    set id_doc = #{record.idDoc,jdbcType=INTEGER},
      niv_academico = #{record.nivAcademico,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>