<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.expedicion.dao.Tps015IsrAnualMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.expedicion.modelo.Tps015IsrAnual" >
    <id column="id_constancia" property="idConstancia" jdbcType="INTEGER" />
    <result column="rfc" property="rfc" jdbcType="CHAR" />
    <result column="anio" property="anio" jdbcType="SMALLINT" />
    <result column="cve_unica" property="cveUnica" jdbcType="CHAR" />
    <result column="nom_emp" property="nomEmp" jdbcType="CHAR" />
    <result column="ent_fed" property="entFed" jdbcType="SMALLINT" />
    <result column="area_geografica" property="areaGeografica" jdbcType="CHAR" />
    <result column="qna_ini" property="qnaIni" jdbcType="INTEGER" />
    <result column="qna_fin" property="qnaFin" jdbcType="INTEGER" />
    <result column="imp_sub" property="impSub" jdbcType="INTEGER" />
    <result column="isr_anual" property="isrAnual" jdbcType="DECIMAL" />
    <result column="sub_no_acre" property="subNoAcre" jdbcType="INTEGER" />
    <result column="sub_acre" property="subAcre" jdbcType="INTEGER" />
    <result column="total_cs" property="totalCs" jdbcType="INTEGER" />
    <result column="saldo_det" property="saldoDet" jdbcType="DECIMAL" />
    <result column="cred_sal" property="credSal" jdbcType="DECIMAL" />
    <result column="tot_imp" property="totImp" jdbcType="DECIMAL" />
    <result column="calculo" property="calculo" jdbcType="CHAR" />
    <result column="tipo_contrato" property="tipoContrato" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id_constancia, rfc, anio, cve_unica, nom_emp, ent_fed, area_geografica, qna_ini, 
    qna_fin, imp_sub, isr_anual, sub_no_acre, sub_acre, total_cs, saldo_det, cred_sal, 
    tot_imp, calculo, tipo_contrato
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="mx.sep.expedicion.modelo.Tps015IsrAnualExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tps015_isr_anual
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tps015_isr_anual
    where id_constancia = #{idConstancia,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tps015_isr_anual
    where id_constancia = #{idConstancia,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="mx.sep.expedicion.modelo.Tps015IsrAnualExample" >
    delete from tps015_isr_anual
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="mx.sep.expedicion.modelo.Tps015IsrAnual" >
    insert into tps015_isr_anual (id_constancia, rfc, anio, 
      cve_unica, nom_emp, ent_fed, 
      area_geografica, qna_ini, qna_fin, 
      imp_sub, isr_anual, sub_no_acre, 
      sub_acre, total_cs, saldo_det, 
      cred_sal, tot_imp, calculo, 
      tipo_contrato)
    values (#{idConstancia,jdbcType=INTEGER}, #{rfc,jdbcType=CHAR}, #{anio,jdbcType=SMALLINT}, 
      #{cveUnica,jdbcType=CHAR}, #{nomEmp,jdbcType=CHAR}, #{entFed,jdbcType=SMALLINT}, 
      #{areaGeografica,jdbcType=CHAR}, #{qnaIni,jdbcType=INTEGER}, #{qnaFin,jdbcType=INTEGER}, 
      #{impSub,jdbcType=INTEGER}, #{isrAnual,jdbcType=DECIMAL}, #{subNoAcre,jdbcType=INTEGER}, 
      #{subAcre,jdbcType=INTEGER}, #{totalCs,jdbcType=INTEGER}, #{saldoDet,jdbcType=DECIMAL}, 
      #{credSal,jdbcType=DECIMAL}, #{totImp,jdbcType=DECIMAL}, #{calculo,jdbcType=CHAR}, 
      #{tipoContrato,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="mx.sep.expedicion.modelo.Tps015IsrAnual" >
    insert into tps015_isr_anual
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idConstancia != null" >
        id_constancia,
      </if>
      <if test="rfc != null" >
        rfc,
      </if>
      <if test="anio != null" >
        anio,
      </if>
      <if test="cveUnica != null" >
        cve_unica,
      </if>
      <if test="nomEmp != null" >
        nom_emp,
      </if>
      <if test="entFed != null" >
        ent_fed,
      </if>
      <if test="areaGeografica != null" >
        area_geografica,
      </if>
      <if test="qnaIni != null" >
        qna_ini,
      </if>
      <if test="qnaFin != null" >
        qna_fin,
      </if>
      <if test="impSub != null" >
        imp_sub,
      </if>
      <if test="isrAnual != null" >
        isr_anual,
      </if>
      <if test="subNoAcre != null" >
        sub_no_acre,
      </if>
      <if test="subAcre != null" >
        sub_acre,
      </if>
      <if test="totalCs != null" >
        total_cs,
      </if>
      <if test="saldoDet != null" >
        saldo_det,
      </if>
      <if test="credSal != null" >
        cred_sal,
      </if>
      <if test="totImp != null" >
        tot_imp,
      </if>
      <if test="calculo != null" >
        calculo,
      </if>
      <if test="tipoContrato != null" >
        tipo_contrato,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idConstancia != null" >
        #{idConstancia,jdbcType=INTEGER},
      </if>
      <if test="rfc != null" >
        #{rfc,jdbcType=CHAR},
      </if>
      <if test="anio != null" >
        #{anio,jdbcType=SMALLINT},
      </if>
      <if test="cveUnica != null" >
        #{cveUnica,jdbcType=CHAR},
      </if>
      <if test="nomEmp != null" >
        #{nomEmp,jdbcType=CHAR},
      </if>
      <if test="entFed != null" >
        #{entFed,jdbcType=SMALLINT},
      </if>
      <if test="areaGeografica != null" >
        #{areaGeografica,jdbcType=CHAR},
      </if>
      <if test="qnaIni != null" >
        #{qnaIni,jdbcType=INTEGER},
      </if>
      <if test="qnaFin != null" >
        #{qnaFin,jdbcType=INTEGER},
      </if>
      <if test="impSub != null" >
        #{impSub,jdbcType=INTEGER},
      </if>
      <if test="isrAnual != null" >
        #{isrAnual,jdbcType=DECIMAL},
      </if>
      <if test="subNoAcre != null" >
        #{subNoAcre,jdbcType=INTEGER},
      </if>
      <if test="subAcre != null" >
        #{subAcre,jdbcType=INTEGER},
      </if>
      <if test="totalCs != null" >
        #{totalCs,jdbcType=INTEGER},
      </if>
      <if test="saldoDet != null" >
        #{saldoDet,jdbcType=DECIMAL},
      </if>
      <if test="credSal != null" >
        #{credSal,jdbcType=DECIMAL},
      </if>
      <if test="totImp != null" >
        #{totImp,jdbcType=DECIMAL},
      </if>
      <if test="calculo != null" >
        #{calculo,jdbcType=CHAR},
      </if>
      <if test="tipoContrato != null" >
        #{tipoContrato,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="mx.sep.expedicion.modelo.Tps015IsrAnualExample" resultType="java.lang.Integer" >
    select count(*) from tps015_isr_anual
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tps015_isr_anual
    <set >
      <if test="record.idConstancia != null" >
        id_constancia = #{record.idConstancia,jdbcType=INTEGER},
      </if>
      <if test="record.rfc != null" >
        rfc = #{record.rfc,jdbcType=CHAR},
      </if>
      <if test="record.anio != null" >
        anio = #{record.anio,jdbcType=SMALLINT},
      </if>
      <if test="record.cveUnica != null" >
        cve_unica = #{record.cveUnica,jdbcType=CHAR},
      </if>
      <if test="record.nomEmp != null" >
        nom_emp = #{record.nomEmp,jdbcType=CHAR},
      </if>
      <if test="record.entFed != null" >
        ent_fed = #{record.entFed,jdbcType=SMALLINT},
      </if>
      <if test="record.areaGeografica != null" >
        area_geografica = #{record.areaGeografica,jdbcType=CHAR},
      </if>
      <if test="record.qnaIni != null" >
        qna_ini = #{record.qnaIni,jdbcType=INTEGER},
      </if>
      <if test="record.qnaFin != null" >
        qna_fin = #{record.qnaFin,jdbcType=INTEGER},
      </if>
      <if test="record.impSub != null" >
        imp_sub = #{record.impSub,jdbcType=INTEGER},
      </if>
      <if test="record.isrAnual != null" >
        isr_anual = #{record.isrAnual,jdbcType=DECIMAL},
      </if>
      <if test="record.subNoAcre != null" >
        sub_no_acre = #{record.subNoAcre,jdbcType=INTEGER},
      </if>
      <if test="record.subAcre != null" >
        sub_acre = #{record.subAcre,jdbcType=INTEGER},
      </if>
      <if test="record.totalCs != null" >
        total_cs = #{record.totalCs,jdbcType=INTEGER},
      </if>
      <if test="record.saldoDet != null" >
        saldo_det = #{record.saldoDet,jdbcType=DECIMAL},
      </if>
      <if test="record.credSal != null" >
        cred_sal = #{record.credSal,jdbcType=DECIMAL},
      </if>
      <if test="record.totImp != null" >
        tot_imp = #{record.totImp,jdbcType=DECIMAL},
      </if>
      <if test="record.calculo != null" >
        calculo = #{record.calculo,jdbcType=CHAR},
      </if>
      <if test="record.tipoContrato != null" >
        tipo_contrato = #{record.tipoContrato,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tps015_isr_anual
    set id_constancia = #{record.idConstancia,jdbcType=INTEGER},
      rfc = #{record.rfc,jdbcType=CHAR},
      anio = #{record.anio,jdbcType=SMALLINT},
      cve_unica = #{record.cveUnica,jdbcType=CHAR},
      nom_emp = #{record.nomEmp,jdbcType=CHAR},
      ent_fed = #{record.entFed,jdbcType=SMALLINT},
      area_geografica = #{record.areaGeografica,jdbcType=CHAR},
      qna_ini = #{record.qnaIni,jdbcType=INTEGER},
      qna_fin = #{record.qnaFin,jdbcType=INTEGER},
      imp_sub = #{record.impSub,jdbcType=INTEGER},
      isr_anual = #{record.isrAnual,jdbcType=DECIMAL},
      sub_no_acre = #{record.subNoAcre,jdbcType=INTEGER},
      sub_acre = #{record.subAcre,jdbcType=INTEGER},
      total_cs = #{record.totalCs,jdbcType=INTEGER},
      saldo_det = #{record.saldoDet,jdbcType=DECIMAL},
      cred_sal = #{record.credSal,jdbcType=DECIMAL},
      tot_imp = #{record.totImp,jdbcType=DECIMAL},
      calculo = #{record.calculo,jdbcType=CHAR},
      tipo_contrato = #{record.tipoContrato,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="mx.sep.expedicion.modelo.Tps015IsrAnual" >
    update tps015_isr_anual
    <set >
      <if test="rfc != null" >
        rfc = #{rfc,jdbcType=CHAR},
      </if>
      <if test="anio != null" >
        anio = #{anio,jdbcType=SMALLINT},
      </if>
      <if test="cveUnica != null" >
        cve_unica = #{cveUnica,jdbcType=CHAR},
      </if>
      <if test="nomEmp != null" >
        nom_emp = #{nomEmp,jdbcType=CHAR},
      </if>
      <if test="entFed != null" >
        ent_fed = #{entFed,jdbcType=SMALLINT},
      </if>
      <if test="areaGeografica != null" >
        area_geografica = #{areaGeografica,jdbcType=CHAR},
      </if>
      <if test="qnaIni != null" >
        qna_ini = #{qnaIni,jdbcType=INTEGER},
      </if>
      <if test="qnaFin != null" >
        qna_fin = #{qnaFin,jdbcType=INTEGER},
      </if>
      <if test="impSub != null" >
        imp_sub = #{impSub,jdbcType=INTEGER},
      </if>
      <if test="isrAnual != null" >
        isr_anual = #{isrAnual,jdbcType=DECIMAL},
      </if>
      <if test="subNoAcre != null" >
        sub_no_acre = #{subNoAcre,jdbcType=INTEGER},
      </if>
      <if test="subAcre != null" >
        sub_acre = #{subAcre,jdbcType=INTEGER},
      </if>
      <if test="totalCs != null" >
        total_cs = #{totalCs,jdbcType=INTEGER},
      </if>
      <if test="saldoDet != null" >
        saldo_det = #{saldoDet,jdbcType=DECIMAL},
      </if>
      <if test="credSal != null" >
        cred_sal = #{credSal,jdbcType=DECIMAL},
      </if>
      <if test="totImp != null" >
        tot_imp = #{totImp,jdbcType=DECIMAL},
      </if>
      <if test="calculo != null" >
        calculo = #{calculo,jdbcType=CHAR},
      </if>
      <if test="tipoContrato != null" >
        tipo_contrato = #{tipoContrato,jdbcType=CHAR},
      </if>
    </set>
    where id_constancia = #{idConstancia,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mx.sep.expedicion.modelo.Tps015IsrAnual" >
    update tps015_isr_anual
    set rfc = #{rfc,jdbcType=CHAR},
      anio = #{anio,jdbcType=SMALLINT},
      cve_unica = #{cveUnica,jdbcType=CHAR},
      nom_emp = #{nomEmp,jdbcType=CHAR},
      ent_fed = #{entFed,jdbcType=SMALLINT},
      area_geografica = #{areaGeografica,jdbcType=CHAR},
      qna_ini = #{qnaIni,jdbcType=INTEGER},
      qna_fin = #{qnaFin,jdbcType=INTEGER},
      imp_sub = #{impSub,jdbcType=INTEGER},
      isr_anual = #{isrAnual,jdbcType=DECIMAL},
      sub_no_acre = #{subNoAcre,jdbcType=INTEGER},
      sub_acre = #{subAcre,jdbcType=INTEGER},
      total_cs = #{totalCs,jdbcType=INTEGER},
      saldo_det = #{saldoDet,jdbcType=DECIMAL},
      cred_sal = #{credSal,jdbcType=DECIMAL},
      tot_imp = #{totImp,jdbcType=DECIMAL},
      calculo = #{calculo,jdbcType=CHAR},
      tipo_contrato = #{tipoContrato,jdbcType=CHAR}
    where id_constancia = #{idConstancia,jdbcType=INTEGER}
  </update>
</mapper>