<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.expedicion.dao.join.Tps005UsuariosJoinMapper" >
    <resultMap id="BaseResultMap" type="mx.sep.expedicion.modelo.Tps005Usuarios" >
        <id column="id_usuario" property="idUsuario" jdbcType="INTEGER" />
        <result column="id_pregunta" property="idPregunta" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="nombre_usuario" property="nombreUsuario" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="respuesta" property="respuesta" jdbcType="VARCHAR" />
        <result column="usuario_activo" property="usuarioActivo" jdbcType="BOOLEAN" />
        <result column="usuario_habilitado" property="usuarioHabilitado" jdbcType="BOOLEAN" />        
    </resultMap>
    <resultMap id="BaseResultMapRolUsuarioVO" type="mx.sep.expedicion.datos.vo.RolUsuarioVO" >
        <id column="id_usuario" property="idUsuario" jdbcType="INTEGER" />
        <result column="id_pregunta" property="idPregunta" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="nombre_usuario" property="nombreUsuario" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="respuesta" property="respuesta" jdbcType="VARCHAR" />
        <result column="usuario_activo" property="usuarioActivo" jdbcType="BOOLEAN" />
        <result column="usuario_habilitado" property="usuarioHabilitado" jdbcType="BOOLEAN" />
        <result column="id_rol" property="idRol" jdbcType="INTEGER" />
        <result column="id_rol" property="idRolAnterior" jdbcType="INTEGER" />
    </resultMap>    
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Example_Where_Clause_join" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and a.${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and a.${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and a.${criterion.condition} #{criterion.value} and a.#{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and a.${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        id_usuario, id_pregunta, username, password, nombre_usuario, email, respuesta, usuario_activo, usuario_habilitado
    </sql>
    <sql id="Base_Column_List_join" >
        a.id_usuario, a.id_pregunta, a.username, a.password, a.nombre_usuario, a.email, a.respuesta, a.usuario_activo, a.usuario_habilitado, b.id_rol
    </sql>
    <select id="selectPageByExample" resultMap="BaseResultMapRolUsuarioVO"
            parameterType="mx.sep.expedicion.modelo.custom.Tps005UsuariosExample">		
        select skip ${desde} limit ${elementos}
        <include refid="Base_Column_List_join" />
        from tps005_usuarios a, tps008_roles_usu b
        <if test="_parameter != null">
            <include refid="Example_Where_Clause_join" />
        </if>     
        and a.id_usuario = b.id_usuario   
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>        
    </select>
    <select id="selectUsuarioByExample" resultMap="BaseResultMap" parameterType="mx.sep.expedicion.modelo.Tps005UsuariosExample" >
        select 
        <include refid="Base_Column_List" />
        from tps005_usuarios
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectMaxPrimaryKey" resultType="int">
      select
      max(id_usuario) from tps005_usuarios;
  </select>
</mapper>