<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.sep.expedicion.dao.join.Tps003ComprobanteJoinMapper" >
  <resultMap id="BaseResultMap" type="mx.sep.expedicion.modelo.Tps003Comprobante" >
    <id column="id_comprobante" property="idComprobante" jdbcType="INTEGER" />
    <result column="num_comprobante" property="numComprobante" jdbcType="INTEGER" />
    <result column="rfc" property="rfc" jdbcType="CHAR" />
    <result column="cve_unica" property="cveUnica" jdbcType="CHAR" />
    <result column="nombre" property="nombre" jdbcType="VARCHAR" />
    <result column="clave_presupuestal" property="clavePresupuestal" jdbcType="CHAR" />
    <result column="centro_trabajo" property="centroTrabajo" jdbcType="CHAR" />
    <result column="id_tipo_nomina" property="idTipoNomina" jdbcType="CHAR" />
    <result column="fecha_ini" property="fechaIni" jdbcType="TIMESTAMP" />
    <result column="fecha_fin" property="fechaFin" jdbcType="TIMESTAMP" />
    <result column="fecha_pago" property="fechaPago" jdbcType="TIMESTAMP" />
    <result column="qna_proc" property="qnaProc" jdbcType="INTEGER" />
    <result column="cons_qna_proc" property="consQnaProc" jdbcType="SMALLINT" />
    <result column="tot_perc_cheque" property="totPercCheque" jdbcType="DECIMAL" />
    <result column="tot_ded_cheque" property="totDedCheque" jdbcType="DECIMAL" />
    <result column="tot_neto_cheque" property="totNetoCheque" jdbcType="DECIMAL" />
    <result column="num_perc" property="numPerc" jdbcType="SMALLINT" />
    <result column="num_desc" property="numDesc" jdbcType="SMALLINT" />
    <result column="clabe_inter" property="clabeInter" jdbcType="CHAR" />
    <result column="mensaje_impresion" property="mensajeImpresion" jdbcType="VARCHAR" />
    <result column="codigo_seguridad" property="codigoSeguridad" jdbcType="VARCHAR" />
    <result column="numero_ss" property="numeroSs" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Example_Where_Clause_Join" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and a.${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and a.${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and a.${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and a.${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id_comprobante, num_comprobante, rfc, cve_unica, nombre, clave_presupuestal, centro_trabajo, 
    id_tipo_nomina, fecha_ini, fecha_fin, fecha_pago, qna_proc, cons_qna_proc, tot_perc_cheque, 
    tot_ded_cheque, tot_neto_cheque, num_perc, num_desc, clabe_inter, mensaje_impresion, 
    codigo_seguridad, numero_ss
  </sql>
  <sql id="Base_Column_List_Join" >
    a.id_comprobante, a.num_comprobante, a.rfc, a.cve_unica, a.nombre, a.clave_presupuestal, a.centro_trabajo, 
    a.id_tipo_nomina, a.fecha_ini, a.fecha_fin, a.fecha_pago, a.qna_proc, a.cons_qna_proc, a.tot_perc_cheque, 
    a.tot_ded_cheque, a.tot_neto_cheque, a.num_perc, a.num_desc, a.clabe_inter, a.mensaje_impresion, 
    a.codigo_seguridad, a.numero_ss
  </sql>
  <select id="selectPageByExample" resultMap="BaseResultMap" parameterType="mx.sep.expedicion.modelo.custom.Tps003ComprobanteExample" >
    select skip ${desde} limit ${elementos} 
    <include refid="Base_Column_List_Join" />
    from tps003_comprobante a, tps011_quincenas b
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause_Join" />
    </if>
    and a.qna_proc = b.qna_proc
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="countByExample" parameterType="mx.sep.expedicion.modelo.custom.Tps003ComprobanteExample" resultType="java.lang.Integer" >
    select count(*) from tps003_comprobante a, tps011_quincenas b
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause_Join" />
    </if>
    and a.qna_proc = b.qna_proc
  </select>
</mapper>